<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Simplonmi</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Accueil</a>
      <%if(locals.token){%>
      <a class="nav-item nav-link" href="#">Mon profil</a>
      <a class="nav-item nav-link" href="#">Help</a>
      <%}%>
    </div>
  </div>
    <%if(locals.token){%>
    <a href="/logout"><button class="btn btn-danger ml-auto">Se deconnecter</button></a>
    <%}else{%>
    <a href="/login"><button class="btn btn-primary ml-auto">Se connecter</button></a>
    <a href="/register"><button class="btn btn-primary">S'enregistrer</button></a>
    <%}%>
</nav>
<%if(locals.messages.succes){%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%=locals.messages.succes%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>
<%if(locals.messages.erreur){%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%=locals.messages.erreur%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>